@import 'styles/variables';
@import 'styles/mixins';

//Submission Rows
.submissions_graph_wrapper {
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 10px;
    margin-right: 10px;
    overflow: hidden;

    &_full {
        border: 2.5px solid $tertColor;
    }
}

.submissions_graph {
    height: 13px;
    transition: 0.2s ease-in-out
}

.submissions_graph:hover {
    transform: scale(1.1)
}

.submissions_graph_overflow {
    background: repeating-linear-gradient( 45deg, #ffffff00, #ffffff00 2px, #00000080 2px, #00000075 4px);
    pointer-events: none;
    position: absolute;
    height: 13px;
    left: 0;
}

.submissions_graph_env {
    border-radius: 10px;
}

.submissions_circle_wrapper {
    padding: 0;
}

.submissions_circle {
    margin: 0 20%;
    height: 100%;
    @include center;
}

//Submission & Signup Circles
.circle_root {
    width: auto;
    transition: 0.2s ease-in-out;
    max-height: 20px;
    transform: none !important;
    width: 100% !important;
}

.circle_root:hover {
    transform: scale(1.1)
}

.circle_svg {
    height: 100%;
    display: inline-block !important;
    margin-bottom: 20px;
}


//Skill-Specific styles
.eng_graph {
    background-color: $priColor;
}


.design_graph {
    background-color: $secColor;
}


.pm_graph {
    background-color: $tertColor;
}

.eng_circle {
    stroke: $priColor !important;
    stroke-width: 5;
}

.design_circle {
    stroke: $secColor !important;
    stroke-width: 5;
}

.pm_circle {
    stroke: $tertColor !important;
    stroke-width: 5;
}

.signup_circle {
    stroke: white !important;
    stroke-width: 5;
}
