@import 'styles/variables.scss';
.badge {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.2rem;
    z-index: 20;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 10px;
    background-color: $priColor;
}

.badge:hover {
    padding: 0.4rem;
    cursor: pointer;
}