@import './variables.scss';
#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
html {
    height: 100%;
    cursor: pointer;
}

body {
    background-color: $bgColor;
}

//text 
h1,
h2,
h3,
h4,
h5,
p {
    color: white;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

h2,
h3,
p {
    font-family: $paraFont;
}

// Sizing values should be synced with lib/AppTheme.js if updated

h2 {
    font-weight: 800;
    font-size: calc(0.8rem + 0.8vw);
    letter-spacing: calc(0.05rem + 0.05vw);
}
h3 {
    font-weight: 300;
    font-size: calc(0.8rem + 0.8vw);
    letter-spacing: calc(0.05rem + 0.05vw);
}
h4 {
    font-weight: 700;
    font-size: calc(0.5rem + 0.5vw);
    letter-spacing: calc(0.03rem + 0.04vw);
}
h5 {
    font-weight: 100;
    font-size: calc(0.6rem + 0.6vw);
    letter-spacing: calc(0.04rem + 0.04vw);
    opacity: 0.7;
}
p {
    font-weight: 100;
    font-size: calc(0.6rem + 0.6vw);
    letter-spacing: calc(0.03rem + 0.04vw);
}

.page-header {
    font-size: calc(20px + 2vw);
    color: white;
    font-family: $headerFont;
}

.row {
    margin: 0;
}

//btns
.btn {
    font-size: calc(0.4rem + 0.5vw);
    letter-spacing: calc(0.03rem + 0.04vw);
    color: white;
    font-family: $headerFont;
}

.btn-primary {
    background-color: $priColor;
}

.btn-secondary {
    border: 1px solid rgba(255, 255, 255, 0.2)
}

// Wrappers
.status-wrapper {
    box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

    .status-title {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.status-wrapper:hover {
    box-shadow: -5px 13px 13px rgba(0, 0, 0, 0.17);
    background-color: lighten($bgColor, 2%);
    transform: translateY(-5px)
}

// walls
.feature-wall {
    position: relative;
}

.feature-wall-background {
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

// Transitions
.fade-enter {
    opacity: 0;
}
.fade-exit{
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
    transition-property: opacity;
    transition-duration: 100ms;
}

.fade-enter-active {
    transition-timing-function: ease-out;
}
.fade-exit-active {
    transition-timing-function: ease-in;
}