@import '../../../styles/variables';
@import '../../../styles/mixins';

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: white;
    margin: 0;
  }
  h2,
  h3,
  p {
    font-family: $paraFont;
  }
  h1 {
    font-family: $headerFont;
  }
  h2 {
    font-weight: 800;
    font-size: calc(1.3rem + 0.6vw);
    letter-spacing: calc(0.05rem + 0.04vw);
  }
  h3 {
    font-weight: 300;
    font-size: calc(0.6rem + 0.6vw);
    letter-spacing: calc(0.03rem + 0.04vw);
  }
  h4 {
    font-weight: 700;
    font-size: calc(0.5rem + 0.5vw);
    letter-spacing: calc(0.03rem + 0.04vw);
  }
  h5 {
    font-weight: 100;
    font-size: calc(0.4rem + 0.5vw);
    letter-spacing: calc(0.03rem + 0.04vw);
    opacity: 0.7;
  }
  p {
    font-weight: 100;
    font-size: calc(0.4rem + 0.5vw);
    letter-spacing: calc(0.03rem + 0.04vw);
  }
}