@import 'styles/variables';
@import 'styles/mixins';
//misc
#submit_data_line {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 5px;
    border-radius: 5px;
}

#overlay {
    z-index: 100;
}

#blackspace {
    background: #000000a1;
    z-index: 50;
}

.overlay_option {
    border-radius: 10px;
    @include center;
    height: 100%;
    transition: 0.2s ease-in-out;
    font-family: $headerFont;
    color: white;
    padding: 1rem;
    h1 {
        font-size: calc(1rem + 2vw);
    }
}

.overlay_option:hover {
    transform: translateY(-5px) translateX(2px)
}

.new_hack {
    background-color: $priColor;
}

.new_hack:hover {
    box-shadow: -5px 5px 10px rgba($priColor, .4)
}

.signup_hack {
    background-color: $secColor;
}

.signup_hack:hover {
    box-shadow: -5px 5px 10px rgba($secColor, .4)
}

.status_env {
    padding: 1%;
}

.strong_number {
    font-family: $headerFont;
    font-size: 3rem;
    color: white;
    @include poster;
    @include center;
}

.date {
    color: $secColor;
    font-weight: 600;
}

.submitter_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.signup_circle {
    stroke: white !important
}

.circle_root {
    max-width: 100%;
}


//Misc
.body {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
        margin: 0;
    }
    h2,
    h3,
    p {
        font-family: $paraFont;
    }
    h1 {
        font-family: $headerFont;
    }
    h2 {
        font-weight: 800;
        font-size: calc(1.3rem + 0.6vw);
        letter-spacing: calc(0.05rem + 0.04vw);
        padding: 1rem 0 0.3rem 1rem;
    }
    h3 {
        font-weight: 300;
        font-size: calc(0.6rem + 0.6vw);
        letter-spacing: calc(0.03rem + 0.04vw);
    }
    h4 {
        font-weight: 700;
        font-size: calc(0.5rem + 0.5vw);
        letter-spacing: calc(0.03rem + 0.04vw);
    }
    h5 {
        font-weight: 100;
        font-size: calc(0.4rem + 0.5vw);
        letter-spacing: calc(0.03rem + 0.04vw);
        opacity: 0.7;
    }
    p {
        font-weight: 100;
        font-size: calc(0.4rem + 0.5vw);
        letter-spacing: calc(0.03rem + 0.04vw);
    }
}

.new_info {
    opacity: 0.7;
    text-align: center;
}

//Add button
.add_btn_root {
    position: fixed !important;
    bottom: 30px;
    right: 30px;
    background: linear-gradient(100deg, $priColor, $secColor) !important;
}

.add_btn_root:focus {
    border: none !important;
    outline: none;
}

.close_btn_root {
    background: black !important;
    border: 1px solid white;
    color: white;
}

.close_btn_root:focus {
    outline: none;
}