@import '../../../styles/variables.scss';
.submissions_graph {
    height: 13px;
    transition: 0.2s ease-in-out
}

.submissions_graph:hover {
    transform: scale(1.1)
}

.submissions_graph_overflow {
    background: repeating-linear-gradient( 45deg, #ffffff00, #ffffff00 2px, #00000080 2px, #00000075 4px);
    pointer-events: none;
    position: absolute;
    height: 13px;
    left: 0;
}

//Circles
.circle_root {
    width: auto;
    transition: 0.2s ease-in-out;
    max-height: 20px;
    transform: none !important;
    width: 100% !important;
}

.circle_root:hover {
    transform: scale(1.1)
}

.circle_svg {
    height: 100%;
}

.pm_circle {
    stroke: $secColor !important;
    stroke-width: 5;
}

.design_circle {
    stroke: $tertColor !important;
    stroke-width: 5;
}

.eng_circle {
    stroke: $priColor !important;
    stroke-width: 5;
}

.signup_circle {
    stroke: white !important;
    stroke-width: 5;
}